#signininstead{
    text-decoration: none;
    color:#1a73e8;
}

#publish{
    float: right;
    margin-right: 50px;
}

.circle-icon {
    background: #ffc0c0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
}

.tip:hover {
    cursor: help;
    position: relative
}
.tip span {
    color: black;
    font-family: var(--bs-body-font-family);
    visibility: hidden;
    width: 200px;
    background-color: rgb(208, 208, 208);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: -75%;
    left: 150%;
    margin-right: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}
.tip:hover span {
    visibility: visible;
    opacity: 1;
}

.treeRows{
    padding-top: 20px;
    padding-bottom: 20px;
}


.treeRows:hover{
    background-color: rgb(68, 68, 68);
    cursor: pointer;
}
.treeRows{
    text-decoration: none;
    color: white;
}


