
{% extends 'index.html' %}

{% block body %}

    <div class="container" style="padding-top: 50px;">
        <article>
            <!-- Post header-->
            <header class="mb-4">
                <!-- Post title-->
                <h1 class="fw-bolder mb-1">Privacy Policy</h1>
                <!-- Post meta content-->
                <div class="text-muted fst-italic mb-2">March 27, 2022</div>
            </header>
            <!-- Post content-->
            <section class="mb-5">
                <p class="fs-5 mb-4">We collect data and store it in our backend database. We securly encrypt passwords.</p>
            </section>
        </article>
    </div>


{% endblock %}