
{% extends 'index.html' %}

{% block body %}

<div class="container-fluid h-100" style="padding-top: 60px; background-color: #1e1e1e;">
	<div class="column is-half box" style="margin-top: 20px;margin: 0 auto;">
		<form method="post" action="" style="margin-top: 30px;">
			<div class="field">
					{{ form.password.label(class="label") }}
					{% if form.password.errors %}
							{{ form.password(class="input is-danger") }}
							<div class="help is-danger">
									{% for error in form.password.errors %}
											{{ error }}
									{% endfor %}
							</div>
					{% else %}
							{{ form.password(class="input") }}
					{% endif %}
            </div>
			<div class="field">
								{{ form.submit(class="button is-success") }}              
            </div>
		</form>
	</div>
</div>

{% endblock %}