{% extends 'index.html' %}

{% block body %}

<div class="container-fluid"  style="color:white">
  <div class="row" id="banner"></div>
  <div class="row">
    <div class="col-md-6 col-lg-3">
      <i class="fa-solid fa-circle-{{letter}}"></i>
      {{ current_user.uname }}
    
    </div>
    <div class="col-md-6 col-lg-9">

      {% for tree in info %}
        <div class="row">
          <div>
            {% if tree.public %}
              public
            {% endif %}
            public/private
          </div>
          <div>
            {{tree.name}}
          </div>
          <div>
            {{tree.time}}
          </div>
          <div>
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div> 
    <ul>

    </ul>
  </div>
</div>
{% endblock %}